<h1> Productos </h1>

{{#if user}}
  <h2>Bienvenido/a {{user.nombre}} {{user.apellido}}!!!</h2>
  <a href="/profile"  class="logout-button"><svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-user-circle"
    ><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path
        d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
      /><path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path
        d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"
      /></svg>Perfil</a>
       <a href="/api/logout" class="logout-button"><svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-logout-2"
    ><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path
        d="M10 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2"
      /><path d="M15 12h-12l3 -3" /><path d="M6 15l-3 -3" /></svg>Logout</a>

      <a href="/api/carts/{{user.cart}}" class="logout-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="10" cy="20.5" r="1"/><circle cx="18" cy="20.5" r="1"/><path d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1"/></svg>
        Cart
      </a>
{{/if}}
<div class="product-container">
  {{#each products}}
    <div class="product">
      <a
        href="/product/{{this._id}}"
        target="_blank"
        class="product-title"
      >{{this.title}}</a>
      <p style="text-transform: capitalize;">{{description}}</p>
      <p>Price: ${{price}}</p>
      <p style="text-transform: capitalize;">Category: {{category}} </p>
       <form action="/api/carts/{{../user.cart}}/product/{{_id}}" method="POST">
        <button class="button-login" type="submit">Agregar al Carrito</button>
      </form>
    </div>
  {{/each}}
</div>

<p>Pagina {{currentPage}} de {{totalPages}} </p>
{{#if hasNextPage}}
  <a href="/products?page={{nextPage}}"> Siguiente </a>
{{/if}}
{{#if hasPrevPage}}
  <a href="/products?page={{prevPage}}"> Anterior </a>
{{/if}}