<div class="profile-screen">
  <div>
    <a href="/products" class="button-login">{«}</a>

  </div>
  <h1>Perfil</h1>

  <h2 class="name-profile">{{user.nombre}} {{user.apellido}}</h2>
  <div style="display: flex; gap: 5px;">
    <p>rol:</p>
    <p>{{user.role}}</p>
  </div>

  {{#if isAdmin}}
    <a href="/realtimeproducts" class="button-login">Modificar productos</a>
  {{/if}}

  <form action="/api/users/premium/{{user._id}}" method="get">
    <button type="submit" class="button-login">

      {{#if isPremium}}
      Convertirse en usuario
      {{else}}  <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-crown"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path
            d="M12 6l4 6l5 -4l-2 10h-14l-2 -10l5 4z"
          /></svg>
        Convertirse en Premium
        
      {{/if}}
    </button>
  </form>
</div>